/******************************************* FONT STYLING ********************************************************/


/*Enables different fonts which are displayed throughout the website*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap');


/******************************************* TAG SELECTORS ********************************************************/


body {
  background-color: white;
  font-family: 'Merriweather', serif;
  margin: 0%;
  text-align: center;
}

p {
  font-size: large;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: xx-large;

}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

/******************************************* CLASS SELECTORS ********************************************************/


/******************************************* universial css ********************************************************/

.bottom-navbar {
  background-color: black;
  bottom: 0;
  color: white;
  overflow: hidden;
  width: 100%;
}

/* changes the style and look of each social media link */
.bottom-navbar a {
  display: inline-block;
  color: white;
  font-size: x-large;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.bottom-navbar a:hover {
  background-color: #555;
}

.navbar {
  background-color: black;
  overflow: auto;
  width: 100%;
}

/* gives the design of the nav bar that is situated on the top left of each page*/
.navbar a {
  color: white;
  float: left;
  font-size: x-large;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555;
}

.navbar .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, 
  except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

/*The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. 
  This class makes the navbar responsive on small screens and mobile devices by displaying the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* scroll to top allows users to seemlessly scroll back to the top of the page. It also functions on mobile devices*/
#scrollToTop{
  background-color: red;
  border: none;
  border-radius: 10px;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  padding: 1%;
  position: fixed;
  right: 30px;
}

/* when hovered over, the back to top button turns grey*/
#scrollToTop:hover{
  background-color: #555;
}

/* enables the top button to be responsive on mobile and tablet devices*/
@media screen and (max-width: 600px) {
  #scrollToTop{
  display: block;
  position: relative;
  margin: 0 auto;
  right: auto;
  } 
}



/******************************************* index page ********************************************************/
.andrew {
  border-radius: 20%;
  width: 30%;
}


.bottom-cloud {
  height: auto;
  margin-left: 15%;
  margin-top: 4%;
  position: absolute;
  width: 10%;
}

.bottom-div-home {
  margin-bottom: 6%;
  margin-top: 8%;
  padding-left: 30%;
  padding-right: 30%;
}

.bottom-div-home a {
  color: #555;
  text-decoration: none;
}

.fit {
  width: 50%;
}

.intact {
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 10%;
}

.intact a {
  text-decoration: none;
  color: #555;
}

.middle-div-home {

  padding-left: 30%;
  padding-right: 30%;
  position: relative;
}

.mountain {
  height: 100%;
  width: 60%;
}

.myBook {
  width: 40%;
}

.top-cloud {
  margin-left: 30%;
  margin-top: 5%;
  position: absolute;
  width: 10%;
}

.top-div-home {
  margin-top: 5%;
  position: relative;
}


/* Makes the text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .bottom-div-home {
    padding: 5%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .intact {
    padding: 5%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .middle-div-home {
    padding: 5%;
  }
}

/******************************************* education page ********************************************************/


.book-pub {
  margin-bottom: 4%;
  margin-top: 4%;
  padding-left: 30%;
  padding-right: 30%;
}

.book-pub a {
  color: #555;
  text-decoration: none;

}

.software-div {
  padding-bottom: 4%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 4%;
}

.top-div-edu {
  margin-top: 4%;
  position: relative;

}

.undergrad-uni {
  padding-bottom: 4%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 4%;
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .book-pub {
    padding: 5%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .software-div {
    padding: 5%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .top-div-edu {
    padding: 5%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .undergrad-uni {
    padding: 5%;
  }
}


/******************************************* portfolio page ********************************************************/


.c-sharp-slide {
  margin-bottom: 6%;
  margin-top: 6%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;

}

.data-slide {
  margin-bottom: 6%;
  margin-top: 6%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}


.data-slide a {
  text-decoration: none;
  color: #555;
}



.data-slide p {
  margin-top: 10%;
}

.data-slide iframe{
  height: 350px;
  width: 315px;
}


.sql-slide {
  margin-bottom: 6%;
  margin-top: 6%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}

.sql-slide p {
  margin-top: 10%;
}

.middle-div-portfolio {
  padding-bottom: 4%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 4%;
  text-align: center;
}


.portfolio-slide {

  margin-bottom: 6%;
  margin-top: 6%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
 
}


.top-div-portfolio {

  margin-top: 5%;

}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .c-sharp-slide {
    padding: 7%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .data-slide {
    padding: 7%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .middle-div-portfolio {
    padding: 5%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .portfolio-slide {
    padding: 7%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .sql-slide {
    padding: 7%;
  }
}




/******************************************* contact page ********************************************************/

/* Create two columns that allows the map and the form to float next to each other */
.column {
  float: left;
  margin-top: 6px;
  padding: 20px;
  width: 40%;
}


/* Styles the text input columns on the contact pages*/
input[type=text],
select,
textarea {
  border: 1px solid #555;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

/* Styles the submit button on the contact page */
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
}

/* When the user hovers over the submit button, it changes colour to 
grey; the same grey used all over the website.*/
input[type=submit]:hover {
  background-color: #555;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

.top-contact {
  margin-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
  
}


/* Responsive layout - when the screen is less than 600px wide, the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .container{
    padding: 7%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .top-contact {
    padding: 7%;
  }
}







/******************************************* ID SELECTORS ********************************************************/



/******************************************* index page ********************************************************/

#intact-logo {
  width: 40%;
}


/******************************************* portfolio page ********************************************************/


#c-sharp-para {
  margin-top: 10%;
}

#portfolio{
  width: 50%;
}

#pseudo-para {
  margin-top: 10%;

}




/******************************************* education page ********************************************************/

/*styles the table to have a particular font and width*/
#masters {
  border-collapse: collapse;
  font-family: 'Merriweather';
  margin-bottom: 4%;
  margin-top: 4%;
  width: 40%;
}

/* changes the colour of the "th" to black and the writing to white */
#masters th {
  background-color: black;
  color: white;
  height: 20px;
}

#masters tr {
  height: 50px;
}

/* each time the user hovers over a "tr", it changes the background colour*/
#masters tr:hover {
  background-color: #555;
}

/* Creates a zebra striped effect on each even numbered data entry on each table */
#masters tr:nth-child(even) {
  background-color: #f2f2f2;
}

#software {
  border-collapse: collapse;
  font-family: 'Merriweather';
  margin-bottom: 4%;
  margin-top: 4%;
  width: 40%;
}

/* changes the colour of the th to black and the writing to white */
#software th {
  background-color: black;
  color: white;
  height: 20px;
}

#software tr {
  height: 50px;
}

/* each time the user hovers over a tr, it changes the background colour*/
#software tr:hover {
  background-color: #555;
}

/* Creates a zebra striped effect on each even numbered data entry on each table */
#software tr:nth-child(even) {
  background-color: #f2f2f2;
}

#teacher {
  height: 30%;
  width: 25%;
}

#year1 {
  border-collapse: collapse;
  font-family: 'Merriweather';
  margin-bottom: 4%;
  margin-top: 4%;
  width: 40%;
}

/* changes the colour of the th to black and the writing to white */
#year1 th {
  background-color: black;
  color: white;
  height: 20px;
}

#year1 tr {
  height: 50px;
}

/* each time the user hovers over a tr, it changes the background colour*/
#year1 tr:hover {
  background-color: #555;
}

/* Creates a zebra striped effect on each even numbered data entry on each table */
#year1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#year2 {
  border-collapse: collapse;
  font-family: 'Merriweather';
  margin-bottom: 4%;
  margin-top: 4%;
  width: 40%;
}

/* changes the colour of the th to black and the writing to white */
#year2 th {
  background-color: black;
  color: white;
  height: 20px;
}

#year2 tr {
  height: 50px;
}

/* each time the user hovers over a tr, it changes the background colour*/
#year2 tr:hover {
  background-color: #555;
}

/* Creates a zebra striped effect on each even numbered data entry on each table */
#year2 tr:nth-child(even) {
  background-color: #f2f2f2;
}


#year3 {
  border-collapse: collapse;
  font-family: 'Merriweather';
  margin-bottom: 4%;
  margin-top: 4%;
  width: 40%;
}

/* changes the colour of the th to black and the writing to white */
#year3 th {
  background-color: black;
  color: white;
  height: 20px;
}

#year3 tr {
  height: 50px;
}

/* each time the user hovers over a tr, it changes the background colour*/
#year3 tr:hover {
  background-color: #555;

}

/* Creates a zebra striped effect on each even numbered data entry on each table */
#year3 tr:nth-child(even) {
  background-color: #f2f2f2;
}



/******************************************* contact page ********************************************************/

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  #contact-form {
    padding-right: 20%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  #map {
    padding: 1%;
  }
}